.layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title2{
    font-weight: bold;
    font-size: 16px;
    /* 换行 */
    overflow-wrap: break-word;
    max-width: 220px;
    flex-grow: 1;
}
.author{    
    font-size: 13px;
}
.icons{
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*蒙层的css */
.mark {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.mark:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 53, 53, 0.5);
}

.button-mark{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c5a5a;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 4%;
    /* 将按钮垂直居中 */
    left: 3%;
    /* 不透明度为0，就是看不到*/
    opacity: 0;
}

/* 鼠标悬停时按钮显示 */
.mark:hover .button-mark {
    opacity: 1;
}

.label-mark{
    position: absolute;
    transition: margin-right 2s ease-in-out;
    height: 50px;
    width: 50px;
    top:-5px;
    right: 3%;
    opacity: 0;   
}
.mark:hover .label-mark {
    opacity: 1;
}
.label-mark:hover {
    transform: translateY(5px);
    opacity: 1;
}